<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <span class="navbar-brand">
        <img src="https://ressources.blogdumoderateur.com/2019/11/twitter-logo-1200x1200.jpg" width="30" height="30">
        TweeterMap
    </span>
    <span class="navbar-brand" *ngIf="search_term">
        <h2>{{search_term}}</h2>
    </span>

    <span *ngIf="socketService.loading">{{date}}</span>
    <span *ngIf="socketService.loading">{{hour}}</span>

    <div style="display: flex; align-items: center;">
        <span>
            <label style="padding-right:5px;vertical-align: sub" for="date">Ancienneté maximale des tweets :</label>
        </span>
        <span>
            <input type="date" class="form-control" [(ngModel)]="date" id="date">
        </span>
        <span>
            <input type="time" class="form-control" [(ngModel)]="hour">
        </span>
        <span>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="onLoadDate()">Search</button>
        </span>
    </div>
</nav>